base:
    # Environment configs
    output_path: "outputs/kodcode"
    benchmark: "kodcode"  # 使用 kodcode 环境
    problems: "all"  # 运行所有问题，也可以指定具体问题列表，如 ["kodcode_Leetcode_210_I"]
    env_kwargs: {
        "entrypoint": "python -m pytest --tb=no -s test.py",
        # "data_path": "data_collection/acecode_debug_gym/debug_gym",  # 数据目录路径，可以是相对路径或绝对路径
        # "data_path": "/data/jiaxingliu/data/kodcode/synthetic_buggy_kod_medium_hard_40/debug_gym_deduped",  # 数据目录路径，可以是相对路径或绝对路径
        # "data_path": "/data/jiaxingliu/data/kodcode/synthetic_buggy_kod_medium_hard_40/undone_problems/",  # 数据目录路径，可以是相对路径或绝对路径
        # "data_path": "/home/jiaxingliu/workspace/data_collection/data/test_set_kod50_ace50_1122",  # 数据目录路径，可以是相对路径或绝对路径
        # "data_path": "/home/jiaxingliu/workspace/data_collection/data/humaneval_buggy/debug_gym",  # 数据目录路径，可以是相对路径或绝对路径
        "data_path": "/home/jiaxingliu/workspace/data_collection/data/mbpp_buggy/debug_gym",  # 数据目录路径，可以是相对路径或绝对路径
        "dir_tree_depth": 1,
        "run_timeout": 30,
        # shortcut features
        "auto_eval_on_rewrite": False,  # If True, the environment will automatically call the Eval tool after a successful rewrite. If this is set to True, the agent does not need to call the Eval tool itself.
        "show_current_breakpoints": False,  # If True, the environment will automatically show the current breakpoints at every step in the system prompt.
        "show_directory_tree": True,  # If set to True, the environment will show the directory tree in the system prompt.
        "persistent_breakpoints": True,  # If True, the environment will keep a set of breakpoint states across PDB sessions. When a new PDB session is started, the environment will automatically load the breakpoints from the previous session.
        "auto_list": False,  # If True, the environment will automatically call `list .` via the PDB tool after every pdb tool call, which will show the code around the current frame.
    }
    # tools: 可以在 base 中设置默认工具，但会被 agent 特定配置覆盖
    # 由于所有 agent 都指定了自己的 tools，base 中的 tools 不会被使用
    terminal: {
        type: "local",  # "local", "docker", or "kubernetes"
    }

    # LLM configs
    llm_name: "qwen3-14b-local"
    # llm_name: "qwen2.5-coder-14b-sft-1121-582step"
    # llm_name: "qwen3-14b-local"

    # Agent configs
    random_seed: 42
    max_steps: 80
    max_rewrite_steps: 10
    memory_size: 80
    save_patch: True
    reset_prompt_history_after_rewrite: False
    # Optionally loads a custom system prompt template from a file.
    # system_prompt_template_file: "script/templates/system_prompt.jinja"

rewrite_agent:
    tools: ["grep", "view", "rewrite", "eval"]

debug_agent:
    tools: ["grep", "pdb", "view", "rewrite", "eval"]

debug_5_agent:
    n_rewrites_before_pdb: 5
    tools: ["grep", "pdb", "view", "rewrite", "eval"]
